@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
body > div {
    width: 60%;
}
body > div h1 {
    font-size: 1.4rem;
    background-color: #333;
    color: white;
    padding: 20px 30px;
}
.container {
    display: flex;
    border: 1px solid gray;
    /* justify-content: space-around; */
    gap: 20px;
    padding: 20px;
    align-items: center;
}
/* btn  */
.container input[type="button"] {
    padding: 5px 60px;
    font-size: 2rem;

}
.calsius, .fahrenheit {
    display: flex;
    flex-direction: column;
} 
.calsius input, .fahrenheit input {
    padding: 10px;
    font-size: 2rem;
    width: 150px;
}
label {
    width: 100%;
    background-color: rgb(189, 189, 189);
    font-size: 1.3rem;
    padding: 15px;
}

@media screen and (max-width: 706px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 384px) {
    body > div {
        width: 80%;
    }
}