* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E0E0E0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.box {
    margin: 150px 0 70px 0;
    background-color: #387a89;
    color: #fff;
    /* width: 250px; */
    height: 250px;
}
.box .propertys_wraper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
}
label {
    font-size: 1.3rem;
}
input[type="range"] {
    width: 200px;
    color: black;
    background-color: black;
    height: 20px;
}
.output {
    background: #1D1F21;
    color: gainsboro;
    font-size: 1rem;
    padding: 15px;
    width: 400px;
}
p {
    color: #49AAEF; 
    display: inline-block;
}
.code p {
    /* margin: 7px 0; */
}