/* import google font family - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    height: 500px;
    width: 300px;
    padding: 13px;
    background: #dadada;
    border-radius: 10px;
    -webkit-box-shadow: inset -3px -5px 33px 4px rgba(138,138,138,1);
    -moz-box-shadow: inset -3px -5px 33px 4px rgba(138,138,138,1);
    box-shadow: inset -3px -5px 33px 4px rgba(138,138,138,1);
}
.title {
    font-size: 2rem;
}

.width_section, .width_section {
    width: 80%;
    text-align: center;
}
.width_section {
    margin-top: -20px;
}
input {
    padding: 4px 10px;
    font-size: 1.2rem;
    margin-top: 2px;
    width: 80%;
    border: none;
    border-radius: 5px;
    border: 0.5px solid rgb(206, 206, 206);
    box-shadow: 2px 5px 5px #a4a4a4;
}
input:focus {
    border: none;
    outline: none;
    box-shadow: 0.8px solid gray;
}
label {
    color: rgb(71, 71, 71);
}
.bmi {
    width: 170px;
    height: 170px;
    text-align: center;
    line-height: 146px;
    border-radius: 50%;
    border: 10px solid rgb(44, 172, 164);
    font-size: 2.4rem;
    background-color: #fff;
    margin-top: -2rem;
    overflow: hidden;
}
p {
    font-size: 1.2rem;
    margin-top: 10px;
}
span {
    width: 50px;
    height: 50px;
}