body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(110, 110, 110);
    /* padding: 20px; */
    gap: 15px;
    font-size: 1.5rem;
    width: 70%;
} 

input[type="number"] {
    padding: 5px 10px;
    width: 50px;
    font-size: 1.5rem;

}
label {
    background-color: gray;
    padding: 10px;
    color: white;
}

.middle {
    width: 100%;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle input {
    padding: 5px 10px;  
    padding: 5px 15px;
    background-color: #bbbbbb;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #444;

}
input:hover {
    opacity: .6;
}
.middle span {
    display: inline-block;
    height: 50px;
    font-size: 2rem;
    margin-top: 30px;
    background-color: #444;
    color: white;
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom input {
    padding: 5px 15px;
    border: 1px solid rgb(75, 75, 75);
    background-color: #bbbbbb;
    font-size: 1.2rem;
    margin-left: 10px;
    border-radius: 10px;
}
.display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 200px;
    height: 60px;
    background-color: #444;
    color: white;
}
