* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    height: 80px;
    width: 70%;
    background-color: goldenrod;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px ;
}
.card {
    background-color: white;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid {
    color: goldenrod;

}
.card p {
    height: 22px; 
    width: 22px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
}
.container {
    display: flex;
    width: 70%;
    margin-bottom: 30px;
    border: 1px solid red;
    padding-top: 25px;
}
#root {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar {
    width: 40%;
    border-radius: 5px;
    margin-left: 60%;
    background-color: #eee;
    padding: 15px;
    text-align: center;
}
.head {
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}