body {
    margin: 0;
    padding: 0;
    background-color: #fa8072;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 70px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 60px;
    z-index: 0;
    
}

.clock {
    position: relative;
    background-color: lightgray;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid darkgray;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.numbers .time {
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.twelve {
    left: 50%;
    top: 6px;
    transform: translateX(-50%);
}
.three {
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}
.six {
    left: 50%;
    bottom: 6px;
    transform: translateX(-50%);
}
.nine {
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.arrows {
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: #fff; */
    justify-content: center;
    align-items: center;
    position: relative;
}
.arrows::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: darkgreen;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.7);
    z-index: 5;
}

.arrows div {
    background-color: white;
    width: 7px;
    position: absolute;
    height: 120px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
}

.arrows .hour {
    height: 80px;
    width: 8px;
    /* transform: rotate(30deg); */
}
.arrows .second{
    width: 6px;
    /* transform: rotate(250deg); */
    background: goldenrod;
}